.text-sm {
  font: var(--text-sm);
}

.title-lg {
  font: var(--title-lg);
}

.text-md{
  font: var(--text-md);
}

.subtitle {
  font: var(--subtitle);
}

.red-span {
  color: var(--red);
}

.tag {
  background-color: var(--gray-300);
  width: 8rem;
  height: 40px;
  border-radius: 999px;
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-align {
  text-align: center;
  justify-items: center;
}

.gap-16{
  gap: 16px;
}



